In [15]:
# Dependecies
import pandas as pd
import numpy as np

In [17]:
# Beyond Meat Stock
bynd = pd.read_csv("Datasets/BYND.csv")
# bynd.columns=bynd.columns.str.replace('/','')
# bynd.columns=bynd.columns.str.replace('CloseLast','Close')
# # bynd["Date"]= bynd['Date'].str.replace('/', '-')
# bynd[" Close"]= bynd[' Close'].str.replace('$', '')
# bynd[" Open"]= bynd[' Open'].str.replace('$', '')
# bynd[" High"]= bynd[' High'].str.replace('$', '')
# bynd[" Low"]= bynd[' Low'].str.replace('$', '')
# bynd

In [26]:
bynd['Date'] = pd.to_datetime(bynd.Date)
bynd['Date'] = bynd['Date'].dt.strftime('%Y/%m/%d')
bynd.drop(columns= ['Unnamed: 0'])
print(bynd)

     Unnamed: 0        Date   Close    Volume    Open    High     Low Symbol
0             0  2020/10/12  192.30   2506008  196.53  197.25  190.76   BYND
1             1  2020/10/09  194.95   3107515  194.66  195.91  190.45   BYND
2             2  2020/10/08  193.38   5878861  193.00  197.50  188.64   BYND
3             3  2020/10/07  189.14   5167850  184.65  191.60  184.20   BYND
4             4  2020/10/06  181.86   8478843  176.23  186.70  175.00   BYND
..          ...         ...     ...       ...     ...     ...     ...    ...
361         361  2019/05/08   72.25  14711810   83.61   85.38   70.79   BYND
362         362  2019/05/07   79.17  16532100   77.14   85.45   75.00   BYND
363         363  2019/05/06   74.79   8746178   62.73   74.84   62.50   BYND
364         364  2019/05/03   66.79  13139370   72.00   74.00   65.66   BYND
365         365  2019/05/02   65.75  23118970   46.00   72.95   45.00   BYND

[366 rows x 8 columns]

In [3]:
# Roku Stock 
roku = pd.read_csv("Datasets/ROKU.csv")
roku

           Date  Close/Last    Volume      Open      High       Low Symbol
0    10/12/2020    $221.68    5775833  $226.20      $227   $221.35    ROKU
1     10/9/2020    $223.95    7254511  $226.05   $226.83   $221.63    ROKU
2     10/8/2020    $223.84   12767710  $221.96   $228.33   $219.33    ROKU
3     10/7/2020    $212.55    5165809  $207.95   $214.26   $207.50    ROKU
4     10/6/2020    $204.83    5504880  $203.76   $208.96   $202.66    ROKU
..          ...         ...       ...       ...       ...       ...    ...
247  10/18/2019    $129.94   32463530  $137.39   $139.07   $124.79    ROKU
248  10/17/2019    $139.07   20090070  $131.94   $139.59   $130.14    ROKU
249  10/16/2019    $132.50   22426090  $132.83   $134.28   $127.81    ROKU
250  10/15/2019    $132.82   26623530  $123.18   $132.95   $122.53    ROKU
251  10/14/2019    $119.12   14498590  $120.58   $122.10   $117.80    ROKU

[252 rows x 7 columns]

In [4]:
# Tesla Stock
tsla = pd.read_csv("Datasets/TSLA.csv")
tsla

           Date  Close/Last    Volume      Open      High       Low Symbol
0    10/12/2020    $442.30   38791130     $442   $448.74   $438.58    TSLA
1     10/9/2020       $434   28925660  $430.13   $434.59   $426.46    TSLA
2     10/8/2020    $425.92   40421120  $438.44      $439   $425.30    TSLA
3     10/7/2020    $425.30   43127710  $419.87   $429.90   $413.85    TSLA
4     10/6/2020    $413.98   49146260  $423.79   $428.78   $406.05    TSLA
..          ...         ...       ...       ...       ...       ...    ...
247  10/18/2019     $51.39   28768330   $52.14    $52.56    $51.02    TSLA
248  10/17/2019     $52.39   23895215   $52.50    $52.96    $52.03    TSLA
249  10/16/2019     $51.95   33521515   $51.48    $52.42    $51.38    TSLA
250  10/15/2019     $51.58   32397280   $51.54       $52    $50.82    TSLA
251  10/14/2019     $51.39   51134300   $49.58    $51.71    $49.43    TSLA

[252 rows x 7 columns]

In [5]:
# Vanguard ETF Stock
etf = pd.read_csv("Datasets/VNFTF.csv")
etf

           Date  Close/Last  Volume     Open     High      Low Symbol
0    10/12/2020     $19.68      N/A  $19.68   $19.68   $19.68   VNFTF
1     10/9/2020     $19.68      N/A  $19.68   $19.68   $19.68   VNFTF
2     10/8/2020     $19.68      N/A  $19.68   $19.68   $19.68   VNFTF
3     10/7/2020     $19.68      N/A  $19.68   $19.68   $19.68   VNFTF
4     10/6/2020     $19.68      N/A  $19.68   $19.68   $19.68   VNFTF
..          ...         ...     ...      ...      ...      ...    ...
169   2/11/2020     $27.60      N/A  $27.60   $27.60   $27.60   VNFTF
170   2/10/2020     $27.60      N/A  $27.60   $27.60   $27.60   VNFTF
171    2/7/2020     $27.60      N/A  $27.60   $27.60   $27.60   VNFTF
172    2/6/2020     $27.60      N/A  $27.60   $27.60   $27.60   VNFTF
173    2/5/2020     $27.60      100  $27.60   $27.60   $27.60   VNFTF

[174 rows x 7 columns]

In [6]:
# Merge three of the files into a new .csv by Symbol column. 
stockxx = pd.concat([etf, tsla, roku], sort=False)
stockxx.head(300)

           Date  Close/Last     Volume      Open      High       Low Symbol
0    10/12/2020     $19.68         N/A   $19.68    $19.68    $19.68   VNFTF
1     10/9/2020     $19.68         N/A   $19.68    $19.68    $19.68   VNFTF
2     10/8/2020     $19.68         N/A   $19.68    $19.68    $19.68   VNFTF
3     10/7/2020     $19.68         N/A   $19.68    $19.68    $19.68   VNFTF
4     10/6/2020     $19.68         N/A   $19.68    $19.68    $19.68   VNFTF
..          ...         ...        ...       ...       ...       ...    ...
121   4/21/2020    $137.34   101045450  $146.02   $150.67   $134.76    TSLA
122   4/20/2020    $149.27    73731850  $146.54   $153.11   $142.44    TSLA
123   4/17/2020    $150.78    65641150  $154.46   $154.99   $149.53    TSLA
124   4/16/2020    $149.04   103289300  $143.39   $151.89   $141.34    TSLA
125   4/15/2020    $145.97   117885000  $148.40   $150.63      $142    TSLA

[300 rows x 7 columns]

In [9]:
stockxx.columns=stockxx.columns.str.replace('/','')
stockxx.columns=stockxx.columns.str.replace('CloseLast','Close')
stockxx[" Close"]= stockxx[' Close'].str.replace('$', '')
stockxx[" Open"]= stockxx[' Open'].str.replace('$', '')
stockxx[" High"]= stockxx[' High'].str.replace('$', '')
stockxx[" Low"]= stockxx[' Low'].str.replace('$', '')
stockxx

           Date    Close    Volume     Open     High      Low Symbol
0    10/12/2020   19.68        N/A   19.68    19.68    19.68   VNFTF
1     10/9/2020   19.68        N/A   19.68    19.68    19.68   VNFTF
2     10/8/2020   19.68        N/A   19.68    19.68    19.68   VNFTF
3     10/7/2020   19.68        N/A   19.68    19.68    19.68   VNFTF
4     10/6/2020   19.68        N/A   19.68    19.68    19.68   VNFTF
..          ...      ...       ...      ...      ...      ...    ...
247  10/18/2019  129.94   32463530  137.39   139.07   124.79    ROKU
248  10/17/2019  139.07   20090070  131.94   139.59   130.14    ROKU
249  10/16/2019  132.50   22426090  132.83   134.28   127.81    ROKU
250  10/15/2019  132.82   26623530  123.18   132.95   122.53    ROKU
251  10/14/2019  119.12   14498590  120.58   122.10   117.80    ROKU

[678 rows x 7 columns]

In [27]:
stockxx['Date'] = pd.to_datetime(bynd.Date)
stockxx['Date'] = stockxx['Date'].dt.strftime('%Y/%m/%d')
# stockxx.drop(columns= ['Unnamed: 0'])
print(stockxx)

           Date    Close    Volume     Open     High      Low Symbol
0    2020/10/12   19.68        N/A   19.68    19.68    19.68   VNFTF
1    2020/10/09   19.68        N/A   19.68    19.68    19.68   VNFTF
2    2020/10/08   19.68        N/A   19.68    19.68    19.68   VNFTF
3    2020/10/07   19.68        N/A   19.68    19.68    19.68   VNFTF
4    2020/10/06   19.68        N/A   19.68    19.68    19.68   VNFTF
..          ...      ...       ...      ...      ...      ...    ...
247  2019/10/18  129.94   32463530  137.39   139.07   124.79    ROKU
248  2019/10/17  139.07   20090070  131.94   139.59   130.14    ROKU
249  2019/10/16  132.50   22426090  132.83   134.28   127.81    ROKU
250  2019/10/15  132.82   26623530  123.18   132.95   122.53    ROKU
251  2019/10/14  119.12   14498590  120.58   122.10   117.80    ROKU

[678 rows x 7 columns]

In [28]:
# Export Csv
stockxx.to_csv("Datasets/multiplestock.csv")

In [23]:
# bynd.to_csv("Datasets/BYND.csv")